<div class="outer-container">
    <div class="outer-box left-align">
      <div>
        <strong>Upload Image</strong>
      </div>
      <label class="myFile">
        <button class="btn-style grey">+ Photo</button>&nbsp;
        <input type="file" id="file" />
      </label>
    </div>
    <div class="outer-box left-align">
        <div>
          <strong>New Project</strong>
        </div>
        <input class="" type="text" ng-model="project_name" [ng-required="string"] > </input>
        <button class="btn-style green" id="click" ng-click="create()">Create</button>
    </div>

    <div class="outer-box left-align">
      <div>
        <strong>Manage Project</strong>
      </div>
      <select class="" ng-model="selected_project" ng-options="opt.value as opt.label for opt in all_projects">
      </select>
      <button class="btn-style green" id="click" ng-click="load()">load</button>
      <button class="btn-style red" id="delete" ng-click="delete()">delete project</button>
    </div>

    <div class="outer-box left-align" ng-show="project_loaded">
      <div>
        <strong>Edit Project</strong>
      </div>
      <button class="btn-style left-align cyan" id="click" ng-click="add()">Add text</button>
      <button class="btn-style left-align cyan" id="click" ng-click="undo()">undo</button>
      <button class="btn-style left-align cyan" id="click" ng-click="redo()">redo</button>
      <button class="btn-style left-align cyan" id="click" ng-click="backward()">backward</button>
      <button class="btn-style left-align cyan" id="click" ng-click="forward()">forward</button>
      <button class="btn-style left-align cyan" id="click" ng-click="save()">save</button>
      <button class="btn-style left-align cyan" id="click" ng-click="remove_object()">remove</button>
    </div>
</div>
<div ng-show="isDisplay" class="border-style left-align success-message  row text-center">
    {{message}}
</div>
<div ng-show="project_loaded" class="border-style left-align row text-center">
    <strong>Project Name : </strong> {{project_name}}
</div>
<div class="border-style left-align" ng-canvas>
</div>
